@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Instrument+Serif:ital@0;1&family=Inter:wght@400&family=Manrope:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-cabin: "Cabin", sans-serif;
  --font-instrument: "Instrument Serif", serif;
  --font-inter: "Inter", sans-serif;
  --color-primary: #7b39fc;
  --color-dark-purple: #2b2344;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

@utility animate-float {
  animation: float 6s ease-in-out infinite;
}
